<!DOCTYPE html>
<html lang="en">
<head>
  <title>Adyug Classify Pvt. Ltd.</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
	<div class="row">
		<div class="col-md-6 col-sm-6 col-xs-6">
			<img src="https://lh3.googleusercontent.com/LRPNbW_enliVe2Dhx8KNHQqCBneSIQ1pjl1aR03CKnmcNVW26uisa669raxL65XcXJCKBKIzRP2GqOmpApDgRts7ENsMr6NNHSQDvEsLys-P7WuBR-GFu0Cp64RLf_ZxXztNRf8vsTTBg17z5omRb4t5rDVhaPleCXpFQsmPCUEDL79SsuJfqBKtjYjLXStOtPk4SUPGak0sGUhnF_boOCDTy4eUV1ilNOjlxTgT3BZmPC9ezwo3zWUNuUPIu_7arYv8JWzWKpI_0-ylSRKgSAy1kBmlme2gWvwxQf6jDy33whkbGcGQH20cahe6M_INVfxztekY4MBFpnlz3T1Clf3iUMJZJt0bG0nCat_dPutRuXW7U_ucv9jT8RgQ_sVKZX6qM_tXa4geb4C6WT29ikT_hAXWRxCh_Box14wtTrJjdFka3frMt3uPRh12gqfRHWA0kjRsWB619G2proqz_EDtx6WdEF9UmJXNvntenwQALhMPTSyWNWBx1yllWPHQOyBdKuxelGD-9N2VMZ2VluGJvVTsbEuVRZQU4zOdMMWKPMrADmhe0db7407pFcpUFgaRj6XGRZ4-YtPwkyUNL171s2EyjzBI=s120-no">
		</div>
		<div class="col-md-6 col-sm-6 col-xs-6">
			<h1>Adyug Classify Pvt. Ltd.</h1>
			<p>27, Vishnupuri</p>
			<p>Indore, Madhya Pradesh</p>
			<p>Call: 9977414999</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">Welcome User</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			
<p>
Adyug Classify Private Limited take this honor and privilege to give you warm welcome from core of the heart to be
associated with the organization.
</p>
<p>
We would like to take this opportunity to invite you to work with our organization by spreading its mission & vision across the world.
</p>
<p>
We are genuinely interested in recruiting candidates from diverse ethnic and cultural backgrounds to develop your network in this
organization.
</p>
<p>
We would appreciate it if you would promote & publish our packages/Business system by informing any persons who might be
interested in a new opportunity.
</p>
<p>
I trust that this letter finds you mutually excited about your new opportunity with Adyug Contriver Private Limited. Our events include
seminars, conferences, professional development, social gatherings quarterly which will develop your personality, skills, attitude,
vision, etc…
</p>
<p>
Adyug Classify Private Limited will be taking initiative for those people of society who are helpless and needy as the organization will grow, for the
development of the nation. Our main motto is to provide you such an environment which makes you economically sound, socially&
spiritually active with physical & mental strength.
</p>
<p>
We hope that you will get joy, peace & happiness with your involvement in Adyug.
</p>
<p>
“The journey of a thousand miles starts with a single step. Everything you want also wants you. But you have to take
action to get it. So, Successful people keep moving. They make mistakes, but they don’t quit. Though no one can go back
and make a brand new start, anyone can start from now and make a brand new ending.”
</p>
<p>
I wish you all the best in your endeavors with Adyug group & See u soon at the TOP…!!!
</p>
<p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<p>Regards</p>
			<p>Director</p>
			<p>Adyug Classify Pvt. Ltd.</p>
		</div>
	</div>

</div>
</body>
</html>